*{
    margin: 0;
    padding: 0;
    
}

.text{
padding-top: 40px;
padding-left: 45px;
}


.header{
    padding-top: 40px;
    padding-left: 45px;
    background-color: #FBEDD2;
    height: 100vh;
    padding: 0%;
}

.tea{
    margin: 20px;
    display: flex;
    
} 

.text_litle{
font-family: "Gaegu", sans-serif;
font-size: 24px;
display: flex;
margin-top: 55px;
letter-spacing: 2px;
padding-left: 45px;
}




.text_litle2{
    display: flex;
    padding-top: 40px;
    letter-spacing: 2px;
    font-family: "Gaegu", sans-serif;
    font-size: 22px;
    margin: 0;
    text-align: left;
    padding-left: 45px;
    

}



